<form action="{{url_for('simple_page.test')}}" method="post" id="signupForm">
		<ul>
			<li><label for="forename">First Name</label><input id="forename" name="forename" type="text" size="16"></li>
			<li><label for="surname">Last Name</label><input id="surname" name="surname" type="text" size="16"></li>
			<li><label for="emailAddress">E-mail</label><input id="emailAddress" name="emailAddress" type="text" size="16"></li>
			<li><label for="newPassword">Password</label><input id="newPassword" name="newPassword" type="password" size="16"></li>
			
			<li><label for="gender">Gender</label><select id="gender" name="gender"><option value="">Please Choose:</option><option value="M">Male</option><option value="F">Female</option></select></li>
			<li><label class="button"><input id="submit" type="submit" value="Sign Up"></label></li>
		</ul>
		</form>
