{% extends "layout.html" %}
{% block html_head %}{% endblock %}

{% block html_title %}Dashboard{% endblock %}

{% block title %}Dashboard{% endblock %}
    
{% block content %}
<p>Welcome to the Instruments Dashboard</p>
{% if content_widgets %}
<nav class="widgets">
    <ul>
    {% for widget in content_widgets %}
    <li><a href="{{url_for(widget.endpoint)}}">{{widget.content | safe}}</a></li>
    {% endfor %}
    </ul>
</nav>
{% endif %}
{% endblock %}

{% block sidebar %}
    <section>
        <h2>Sidebar Item</h2>
        <p>sidebar item content</p>
    </section>
{% endblock %}