<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

<title>Instruments</title>

</head>

<body>

<header>
    <h1>Instruments <span>Dashboard</span></h1>
</header>

<nav>
    <ul>
        <li class="selected"><a href="/"><span></span><i class="icon-home"></i>Home</a></li>
    </ul>
</nav>

<section id="content">
<h1>Instruments Dashboard</h1>
<p>Welcome to the Instruments Dashboard</p>


</section>

<section id="sidebar">
    <section>
        <h2>Sidebar Item</h2>
        <p>sidebar item content</p>
    </section>
</section>

</body>
</html>