<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--<link rel="icon" href="/favicon.ico" type="image/x-icon">-->

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
{% block html_head %}{% endblock %}

<title>{% block html_title %}Home{% endblock %} &raquo; Instruments</title>

</head>

<body>

<header>
    {% if session.user %}<span><i class="icon-user"></i> {{session.user['forename']}} {{session.user['surname']}} <a href="{{url_for('logout')}}"><i class="icon-signout" title="log out"></i></a></span>{% endif %}
    
    <h1>Instruments <span>{% block title %}Dashboard{% endblock %}</span></h1>
    
</header>

<nav>
    <ul>
        <li {% if request.endpoint == 'home' %}class="selected"{% endif %}><a href="{{url_for('home')}}"><span></span><i class="icon-home"></i>Home</a></li>
        {% block main_navigation %}
        {% for endpoint, label, icon in blueprints %}
            <li {% if endpoint == request.endpoint %}class="selected"{% endif %}><a href="{{url_for(endpoint)}}"><span></span><i class="icon-{{icon}}"></i>{{label}}</a></li>
        {% endfor %}
        <li {% if request.endpoint == 'admin' %}class="selected"{% endif %}><a href="{{url_for('admin')}}#user"><span></span><i class="icon-cogs"></i>Admin</a></li>
        {% endblock %}
    </ul>
</nav>

<section id="content">

{% block content %}
<p>Welcome to the Instruments Dashboard</p>
{% endblock %}

</section>

<section id="sidebar">
    {% for message in get_flashed_messages(True) %}
    <div class="flashmessage {{message[0]}}">{{ message[1] }}</div>
    {% endfor %}
    {% block sidebar %}
    <section>
        <h2>Sidebar Item</h2>
        <p>sidebar item content</p>
    </section>
    {% endblock %}
</section>

</body>
</html>